.app-wrap {
    background-image: linear-gradient(to top left, white, rgb(207, 227, 227));
    margin: 50px auto;
    max-width: 500px;
    padding: 30px;
    border-radius: 15px;
}

h1 {
    margin: 20px auto;
    max-width: 500px;
}
.AddForm {
    margin: 20px auto;
    max-width: 500px;
}
    .AddForm button {
        margin-left: 10px;
        border-radius: 5px;
    }

        .AddForm button:hover {
            background-color: beige;
            color: blueviolet;
        }
